[Unit]
Description=Monthly Bumblebeam backup integrity check

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target
